*{
    margin: 0;
    padding: 0;
    max-width: 2400px;
}
body {
    font-family: 'Inter', sans-serif;
}

/*Shared style*/
.margin{
        margin-left: 120px;
        margin-right: 120px;
    }
.btn{
color: #FFFFFF;
background-color: #469165;
padding: 12.5px 16px;
font-weight: 600;
border-radius: 4px;
cursor: pointer;
}
.btn:hover{
    background-color: chartreuse;
    color: red;
}

#second-btn{
    padding: 8px 12px;
    border-radius: 1000px;
    color: #469165;
    background-color: #FFFFFF;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500px;
    
}
#second-btn:hover{
    background-color: aquamarine;
    color: red;
}
/*Third-button*/
#btn{
  color: #FFFFFF;
background-color:transparent;
padding: 12.5px 16px;
font-weight: 600;
border-radius: 4px;
cursor: pointer; 
padding: 16px; 
border: 1px solid white;
}
#btn:hover{
    background-color: aquamarine;
    color: red;
}
.buttons{
    display: flex;
    justify-content: center;
    gap: 16px;
}
.buttons .btnwimg{
    display: flex;
    align-items: center;
    gap: 10px;
}
.buttons .btn{
    padding: 16px;
}
.btnwimg button{
    display: flex;
    align-items: center;
    gap:10px;
}

.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 24px 120px;
}
.nav-bar ul{
    display: flex;
    list-style: none;
    gap: 32px;
    margin: 0 auto;
}
.nav-bar .middle-txt{
    font-style: medium;
    font-weight: 500;
}
.banner{
    background: url("./assets/hero-bg.png");
   width: 100%;
   height: 620px;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;

   
}

 

.banner #banner-cntnr{
    display: flex;
    flex-direction: column;
   align-items: center;
    justify-content: space-around;
    gap: 16px;
   padding:  130px 341px 913px 341px;
   gap: 20px;
   text-align: center;
    }
    .big-txt{
       font-weight: 700px;
       text-transform: capitalize;
       line-height: 48px;
    }
    .big-txt #white-part{
        color: #FFFFFF;
    }
     .big-txt #green-part{
        color: #469165;
    }
    #paragraph-1{
        color: #FFFFFF;
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
    }
    
    #thrd-part{
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }
#thrd-part h1{
    margin-top: 50px;
    font-size: xx-large;
    font-weight: 400;
}

#thrd-part p{
    font-size: large;
font-weight: 400;
color: #627382;
}


    .card{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        gap: 16px;
        padding: 24px;
        border-radius: 8px;
        box-shadow:#627382 0px 0px 8px 0px;
        
        margin-top: 44px;
    }
    .card-txt h4{
        font-size: 20px;
        font-weight: 600px;
    }
    .card-paragraph p{
        font-size: 16px;
        line-height: 24px;
        color: #444343;
    }
    .card img{
        display: block;
        margin: 0 auto;
        background-color: #F95555;
     border-radius: 2000px;
     padding:14px 13px ;
    }
    .card-cntnr{
        display: flex;
        gap: 24px;
        margin-top: 44px;
        align-items: center;
        margin: 0 auto;
        margin-left: 120px;
        margin-right: 120px;
        justify-content: center;
    }

    #frth-part{
        display: flex;
     justify-content:left;
        gap: 60px;
       align-items: center;
       gap: 100px;
       margin: 120px;
       
    }
    #frth-part #frth-txt{
       display: flex;
       flex-direction: column;
       gap: 16px;
    }
    #frth-part #frth-txt h3{
        font-size: 16px;
        font-weight: 500;
        text-transform: uppercase;
        color: #30B868;

    }
    #frth-part #frth-txt h1{
        font-weight: bold;
    
        font-weight: 700;
        text-transform: capitalize;
        color: #001931;
    }
    #frth-part #frth-txt .long-para{
        font-size: 16px;
        font-weight: 400;
        color: #627382;
    }
    #frth-part #frth-txt #icon-img-cntnr p{
        font-style: normal;
        font-size: 16px;
        font-weight: 500;
    }
#extra{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
    #frth-part #icn-img-cntnr .icon-image{
        display: flex;
       align-items: center;
      gap: 5px;
    }

  

    
    #frth-part .know-img{
    width: 500px;
    
    
    }

    #fifth-part{
        display: flex;
        flex-direction: column;
        gap: 16px;
        background-color: #F7F6F2;
        border-radius: 12px;
        align-items: center;
        padding: 80px 40px
    }
    #fifth-part h1{
        font-size: 40px;
        font-weight: 700;
        text-transform: capitalize;
    }
    #fifth-part .fifth-para{
        font-size: 16px;
        font-weight: 400;
        color: #627382;
    }
    #fifth-part .fifth-last{
        display: flex;
        align-items: center;
      gap: 10px;
    }
     #fifth-part .fifth-last ul{
        padding: 10px;
     }
     #fifth-part .fifth-last li {
    list-style-position: outside; 
}
#footer{
   
    margin-top: 120px;
}
#wlast-txt{
    background-color: #042330;
}
#footer-content{
    display: flex;
    justify-content: space-evenly;
    gap: 900px;
    align-items: center;
    padding: 100px 100px 30px 100px;
    
}
#footer p{
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
    color: white;
}
#footer h4{
    color: white;
    font-weight: 500;
    font-size: 20px;
}

#line{
    display: flex;
    margin: 0 auto;
    background-color: #627382;
    width: 80%;
}
.icons{
    display: flex;
    gap: 20px;

}